#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# Tweak flags brought by dpkg-buildflags
# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to strip CFLAGS CXXFLAGS CPPFLAGS
export DEB_CXXFLAGS_MAINT_STRIP = -g -O2

# package maintainers to append CFLAGS CXXFLAGS LDFLAGS
# PS: No flto on gcc for hdf5 because it is a static lib
# PS: For static version of libgatbcore the -flto flag raises a warning on object files:
# "plugin needed to handle lto object"
# PS: -flto flag is set only for dynamic version in gatb-core/src/CMalelists.txt
export DEB_CXXFLAGS_MAINT_APPEND = -O3 -flto
# equivalent of modifying CMAKE_SHARED_LINKER_FLAGS
# Disallows undefined symbols when creating .so files,
# so that this problem can be caught at compile time rather than runtime.
# PS: Think about -Wl,--as-needed,--no-allow-shlib-undefined
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed,--no-allow-shlib-undefined -flto

# see FEATURE AREAS in dpkg-buildflags(1)
# PS: Remove all with: hardening=-all
# Default flags:
# CFLAGS=-g -O2 -fstack-protector-strong -Wformat -Werror=format-security
# CPPFLAGS=-D_FORTIFY_SOURCE=2
# CXXFLAGS=-g -O2 -fstack-protector-strong -Wformat -Werror=format-security
# Flags brought by CMakelists.txt
# -std=c++11 (debug:-g -p/release: -O3 -DNDEBUG) -Wall -Wno-unused-function -Wno-format -Wno-unknown-pragmas -Wno-invalid-offsetof
export DEB_BUILD_MAINT_OPTIONS=hardening=-fortify,-stackprotector,-format


# main packaging script based on dh7 syntax
%:
	dh $@ --parallel

override_dh_auto_configure:
	# Load environment variables listed by dpkg-buildflags (all dh_auto* make this)
	dh_auto_configure

override_dh_installman:
	dh_installman debian/simka.1
	
override_dh_auto_install:
	dh_auto_install
	# Discover python3 scripts
	# Don't forget to set ${python3:Depends} on control
	dh_python3
	
override_dh_fixperms:
	dh_fixperms
	# Fix execution rights for scripts
	chmod 755 debian/simka/usr/share/simka/scripts/simkaMin/simkaMin_pipeline.py
	chmod 755 debian/simka/usr/share/simka/scripts/visualization/run-visualization.py

override_dh_link:
	# Install symbolic links for scripts
	dh_link usr/share/simka/scripts/simkaMin/simkaMin_pipeline.py usr/bin/simkaMin_pipeline
	dh_link usr/share/simka/scripts/visualization/run-visualization.py usr/bin/simka_run-visualization
